<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @event.first_name %> <%= @event.last_name %>!</h1>
    <p>
      Tu t'es inscrit sur un nouvel Event en utilisant l'e-mail suivant : <%= @event.email %>.
    </p>
    <p>
      Pour accéder à l'Event, clique ici : <%= @url %>.
    </p>
    <p> À très vite sur monsite.fr !
  </body>
</html>